.App {
  text-align: center;
  font-family: monospace, 'Georgia', Cambria, 'Times New Roman', Cochin, Times, serif;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}
.App-header img {
  max-width: 100px; /* Ajustez la largeur maximale selon vos besoins */
  max-height: 100px; 
  border-radius: 50%; 
  margin-bottom: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #102b53;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10vh;
}

.App-link {
  color: #61dafb;
}
.result-display {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f3f3f3;
}

.text-center {
  text-align: center;
}

.result-box {
  border: 2px solid #007bff; /* Couleur de bordure, à ajuster selon vos préférences */
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20%;
  margin-left: 20%;
  background-color: #f8f9fa;
  font-weight: 700;
  font-size: 2em; /* Couleur de fond, à ajuster selon vos préférences */
}
/* Vous pouvez personnaliser davantage en fonction de vos préférences de style */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Assurez-vous que le conteneur principal a un padding-bottom suffisant pour le footer */
/* Styles pour les boutons */
.btn-primary,
.btn-secondary,
.btn-success {
  background-color: white;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 1.2em;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #0056b3;
  color: white;
}
.btn-success:hover {
  background-color: #28a745;
  color: white;
}

.btn-primary {
  color: #0056b3;
  border: 2px solid #0056b3;
}
.btn-success {
  color: #28a745;
  border: 2px solid #28a745;
}